main{
    background-color: bisque;
}
.first{
    font-family: "Times New Roman", Times, serif;
}
.second{
    padding: 12px 20px;
    margin: 8px 0;
    width: 10%;
    box-sizing: border-box;
}
.fouth{
    text-align: center;
    font-size: 18px;
    font-style: italic;
}